body{
    text-align: center;
    background: beige;
}
form{
    
    border:1px solid;
        
    margin: auto;
    width: 300px;
    height: 300px;
    text-align: justify;
    padding: 10px;
    padding-left: auto;
    padding-right: auto;
    border-radius: 20px;
    box-sizing: border-box;


}
.in-grp{
    margin: 10px,0px,10px,0px;
}
.in-grp label{
    display: block;
    margin: 3px;
    font-family: sans-serif;

}
.in-grp input{
    height: 30px;
    width: 90%;
    padding: 5px,10px;
    border-radius: 5px;
    border: 1px solid grey;
}
.flex-container{
    margin: 3px;
    display: block;
    padding: auto;
    border-radius: 3px;
    background-color: rgb(229, 235, 234);
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
}
.btnup{
    width: 50px;
    height:20px;
    position: relative;
    text-align: right;
    margin: auto;
    text-decoration: none;
    position: relative;
}